services:
  postgres:
    image: postgres:16
    container_name: etl_postgres
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_DB: ${PG_DB}
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PG_USER} -d ${PG_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"
    restart: unless-stopped 
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
    command:
      - "postgres"
      - "-c logging_collector=on"
      - "-c log_directory=/var/lib/postgresql/data/pg_log"
      - "-c log_filename=postgresql-%Y-%m-%d.log"
      - "-c log_rotation_age=1d"
      - "-c log_rotation_size=100MB"
      - "-c log_truncate_on_rotation=on"

  scheduler:
    build: .
    container_name: etl_scheduler
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./src/configs/jobs.yaml:/app/jobs.yaml:ro     
      - ./logs:/app/logs        
    command: ["uv", "run", "uvicorn", "src.api.app:app", "--host", "0.0.0.0", "--port", "8000"]
    ports:
      - "8000:8000"
    restart: unless-stopped
    stop_grace_period: 30s  
    logging:                            
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"

volumes:
  pg_data:
