jobs:
  - id: DATA_account_summary_1_minute
    func: DATA_account_summary_1_minute:run
    trigger: cron
    second: "*/10"

  - id: MART_master_portfolio_performance
    func: MART_master_portfolio_performance:run
    trigger: cron
    second: "*/20"

  - id: MART_portfolio_performance
    func: MART_portfolio_performance:run
    trigger: cron
    second: "*/20"

  - id: OP_delete_duplicate_data
    func: OP_delete_duplicate_data:run
    trigger: date
    run_date: "2099-01-01T00:00:00Z"
    kwargs:
      db_name: null
      coll_name: null
      time_field: "current_time"
      time_start: null
      time_end: null
      group_fields: []
      extra_match: null
      sort_tiebreak: []
      allow_disk_use: true
      batch_delete_size: 1000

  - id: OP_insert_data
    func: OP_insert_data:run
    trigger: date
    run_date: "2099-01-01T00:00:00Z"
    kwargs:
      mode: null
      db_name: null
      coll_name: null
      documents: null
      update_ops: null
      key_fields: null
      merge_strategy: null
      merge_upsert: null
      allow_disk_use: null
